*
body
{
    background: #928DAB;
    color: #fff;
    font-family: 'Syne Mono', monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title
{
    flex-direction: column;
    line-height: 10px;
}
.infinito
{
    width: 100px;
}
li
{
    display: inline-block;
    margin: 20px;
}
a
{
    color: #fff;
}
a:hover
{
    color: #191654;
    transition: 0.3s all;
}
#inscreva-se-btn
{
    border: 2px dashed #191654;
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn:hover
{
    background: #191654;
    color: #fff;
}
main
{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2
{
    font-size: 56px;
    line-height: 20px;
    font-family: 'Syne Mono', monospace;
}
span
{
    color: #191654;
    font-size: 61px;
}
p
{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Syne Mono', monospace;
}
.tela
{
    margin-top: 70px;
    width: 750px;
}
form
{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"]
{
    height: 50px;
    width: 50%;
    background-color: #191654;
    color: #fff;
    font-weight: bold;
}
form [type="submit"]:hover
{
    cursor: pointer;
}
input
{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}